

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
    margin:0;
    padding:0;
   height:100%;
}

.bg{
    width:640px;
    height:640px;
}

#create, #view{
    float:left;
}

#create{
    width:30%;
    height:100%;
    padding:2%
}

#view{
    width:70%;
    height:100%;
}

.upload{
    background:grey;
    height:50px;
    width:100%;
    margin:5% 0;
}

.upload--image{
    height:100px;
}

#playtrack{
    border-radius:5px;
    height:10px;
    background:gray;
    cursor:pointer;
}

#playhead{
    height:10px;
    border-radius:5px;
    width:10%;
    background:whitesmoke;
}

#status{
    height:20px;
}

#upload-progress-indicator{
    position:absolute;
    left:0;
    top:0;
    background:gray;
    height:20px;
}

#upload-status{
    position:absolute;
    top:0;
    left:0;
    height:20px;
    z-index:5;
}
