/* line 5, ../sass/styles.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* line 15, ../sass/styles.scss */
p {
  font-size: 20px;
}

/* line 20, ../sass/styles.scss */
.create {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
/* line 28, ../sass/styles.scss */
.create:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* line 35, ../sass/styles.scss */
.create div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px, rgba(0, 0, 0, 0.8) 0 0 5px, rgba(0, 0, 0, 0.8) 0 0 5px;
}

/* line 44, ../sass/styles.scss */
.hide {
  display: none;
}

/* line 48, ../sass/styles.scss */
input[type=file] {
  font-size: 100000px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 57, ../sass/styles.scss */
#audio-upload {
  background: #9de1ca;
}

/* line 61, ../sass/styles.scss */
#audio-trim {
  background: #a378ae;
}

/* line 65, ../sass/styles.scss */
#bg-upload {
  background: #525e78;
}

/* line 69, ../sass/styles.scss */
#fg-upload {
  background: #a378ae;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 75, ../sass/styles.scss */
#create-finalise {
  background: #f9fbff;
}

/* line 79, ../sass/styles.scss */
#view {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: 640px;
  height: 640px;
  margin-left: -320px;
}

/* line 89, ../sass/styles.scss */
#createBackground {
  width: 640px;
  height: 640px;
}
